img{
    width:250px;
    height:auto;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
}
#frame{
    width: 35%;
    background-color: #C4c4c4;
    height: auto;
    border-radius: 10px;
}
.Login{
    text-align: center;
}

body{
    background-image: url('/Neptune/SDP/Background/loginBackground.jpg');
    background-size: cover;
}

form {
    padding: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
