img{
    width:250px;
    height:auto;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
}
#frame{
    width: 35%;
    background-color: #C4c4c4;
    height: auto;
    border-radius: 10px;
}

.Login{
    text-align: center;
}
form {
    padding: 15px;
}
